### Pandas DataFrame
- It is an equvivalant of excel of sql table in pandas
- it is a collection of series
- It has two axes row and column. row axes is denoted by 0 and column axes is denoted by 1

In [60]:
import pandas as pd

Creating of a dataframe

In [66]:
# create a dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]
})

# print the dataframe
print(df)

# creating a dataframe by reading a csv file
df = pd.read_csv('/Users/anand/learning/python/pylearn/notebooks/datascience/pandas/oil.csv',)
# removing rows with missing values
df.dropna(inplace=True)
df.shape
# verifying that there is no missing value in the dataframe
df.isna().sum()
print(df.count())
print("good oil")
good_oil = df.where(lambda x: x.dcoilwtico >= 50.0).dropna()
print(good_oil.count())

bad_oil = df.where(lambda x: x.dcoilwtico < 50.0).dropna()
print("bad oil")
print(bad_oil.count())

print("mean of good oil")
newDf = good_oil.drop(columns=['date'], axis=1)
print(newDf.mean())

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
date          1175
dcoilwtico    1175
dtype: int64
good oil
date          694
dcoilwtico    694
dtype: int64
bad oil
date          481
dcoilwtico    481
dtype: int64
mean of good oil
dcoilwtico    84.203487
dtype: float64

properties of a dataframe

In [62]:
# properties of the dataframe
print(f'shape: {df.shape}')
print(f'columns: {df.columns}')
print(f'index: {df.index}')
print(f'dtypes: {df.dtypes}')
print(f'axeses: {df.axes}')
# print("First 2 rows")
# print(df.head(2))
# print("Last 2 rows")
# print(df.tail(2))
# print("random 2 samples")
# print(df.sample(2))
print("Info")
print(df.info(show_counts=True))
print("statistics about the data")
print(df.describe(percentiles=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9], include='all').round())

shape: (1175, 2)
columns: Index(['date', 'dcoilwtico'], dtype='object')
index: Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217],
           dtype='int64', length=1175)
dtypes: date           object
dcoilwtico    float64
dtype: object
axeses: [Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217],
           dtype='int64', length=1175), Index(['date', 'dcoilwtico'], dtype='object')]
Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1175 entries, 1 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1175 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 27.5+ KB
None
statistics about the data
              date  dcoilwtico
count         1175      1175.0
unique        1175         NaN
top     2013-01-02         NaN
freq             1         NaN
mean           NaN        68.0
std            NaN        26.0
min            NaN        26.0
10%            NaN        42.0
20%            NaN        45.0
30%            NaN        48.0
40%            NaN        50.0
50%            NaN        53.0
60%            NaN        77.0
70%            NaN        94.0
80%            NaN        97.0
90%            NaN       103.0
max            NaN       111.0

In [93]:
# df columns can be accessed using the dot notation as well
# column names should follow the python variable naming rules for the dot notation to work
stores_df = pd.read_csv('/Users/anand/learning/python/pylearn/notebooks/datascience/pandas/stores.csv')
print(stores_df.head(2))

# you can also slice the df using the column names
subStoresdf = stores_df[['store_nbr', 'cluster']].iloc[0:5]
print(subStoresdf.head(2))

# you can rename the columns by modifying the columns attribute
stores_df.columns = ['store_number', 'City_name', 'state', 'store_type', 'cluster']
print(stores_df.head(2))

# you can also rename the columns using the rename method
stores_df.rename(columns={'store_number': 'store_nbr', 'City_name': 'city'}, inplace=True)
print(stores_df.head(2))

# iloc for df
# iloc is used to access the rows and columns by their integer index
# iloc[row_index, column_index]
# iloc is exclusive of the end index
print(stores_df.iloc[0:2, 0:2])
# loc is used to access the rows and columns by their labels
# loc[row_label, column_label]
# loc is inclusive of the end index
print(stores_df.loc[0:2, 'store_nbr':'state'])

# drop columns
# drop columns using the drop method
# drop method returns a new df with the columns dropped
# to drop the columns in place, use the inplace parameter
stores_df.drop(columns=['state', 'store_type'], inplace=True)
print(stores_df.head(2))
# droppping first 10 rows
# generally rows are dropped using slicing
stores_df.drop(range(10), axis= 0, inplace=True)
# duplicate the last row
stores_df = pd.concat([stores_df, stores_df.tail(1)])
print(stores_df.shape)

# the way to find duplicate rows is to use the duplicated method
# this will return a boolean series
# the first occurrence of the row is marked as False and the subsequent occurrences are marked as True
# to get the duplicate rows, you can use the boolean series to filter the rows
# this will return all the duplicate rows
print(stores_df.duplicated())

# identifying and dropping duplicate rows
# duplicated method returns a boolean series
# drop_duplicates method returns a new df with the duplicate rows removed
# to drop the duplicates in place, use the inplace parameter
# by default it remove the duplicates based on all the columns
# to remove duplicates based on specific columns, use the subset parameter
# this will remove the duplicates based on the store_nbr and city columns
stores_df.drop_duplicates(subset=['store_nbr', 'city'],keep='last', inplace=True)
print(stores_df.shape)

# finding unique values
# nunique method returns the number of unique values
print(stores_df.nunique())

   store_nbr   city      state type  cluster
0          1  Quito  Pichincha    D       13
1          2  Quito  Pichincha    D       13
   store_nbr  cluster
0          1       13
1          2       13
   store_number City_name      state store_type  cluster
0             1     Quito  Pichincha          D       13
1             2     Quito  Pichincha          D       13
   store_nbr   city      state store_type  cluster
0          1  Quito  Pichincha          D       13
1          2  Quito  Pichincha          D       13
   store_nbr   city
0          1  Quito
1          2  Quito
   store_nbr   city      state
0          1  Quito  Pichincha
1          2  Quito  Pichincha
2          3  Quito  Pichincha
   store_nbr   city  cluster
0          1  Quito       13
1          2  Quito       13
(45, 3)
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
53     True
dtype: bool
(44, 3)
store_nbr    44
city         22
cluster      16
dtype: int64

In [ ]:
# Filtering frame values
# filtering the rows based on a condition
# the condition should be a boolean series
# Filtering a single row using loc function
print(stores_df.head(2))
print(stores_df.loc[stores_df.store_nbr == 11, ['store_nbr', 'city']]) # loc also takes a projection of columns
# Filtering multiple rows using loc function
print(stores_df.loc[stores_df.store_nbr.isin([11, 12]), ['store_nbr', 'city']])
# Filtering the rows based on multiple conditions
# the conditions should be combined using the bitwise operators
# the conditions should be enclosed in parentheses
cond = (stores_df.store_nbr == 11) | (stores_df.store_nbr == 12)
print(stores_df.loc[cond, ['store_nbr', 'city']])

# filter using where method
# where method returns a new df with the rows that satisfy the condition
# the rows that do not satisfy the condition are replaced with NaN
# to drop the rows that do not satisfy the condition, use the dropna method
print(stores_df.where(stores_df.store_nbr > 20).dropna().count())

# sorting the data frame
# sort_values method is used to sort the df
# by default the sorting is done in ascending order
stores_df.sort_values(by=['store_nbr'], ascending=False, inplace=True)

# airthmatic column creation
# you can create a new column by performing arithmetic operations on the existing columns
stores_df['new_column'] = stores_df.store_nbr * 10

# map method
# a dict can be passed to the map method to create a new column
# stores_df['new_column'] = stores_df.store_nbr.map({11: 110, 12: 120})
stores_df['new_column'] = stores_df.store_nbr.map(lambda x: x * 100)

# apply method
stores_df['new_column'] = stores_df.apply(lambda x: x.store_nbr * 100, axis=1)
print(stores_df.head(2))

### Catagorical data type
- what is the difference between the categorical data type and the object data type?
- the categorical data type is more memory efficient
- the categorical data type is faster than the object data type for certain operations
- It stores text data with repeating values as efficiently
- python maps each unique cataegory to an integer to save space
- As a rule of thumb only consider this data type when unique catagories < number of rows/2

In [135]:
cat_df = stores_df.sort_values(by=['store_nbr'], ascending=False)

# to convert a column to a categorical data type, use the astype method
stores_df['city'] = stores_df['city'].astype('category')
print(stores_df.dtypes)

store_nbr        int64
city          category
cluster          int64
new_column       int64
dtype: object